.container {
    background: rgb(112,128,160);
    background: linear-gradient(0deg, rgba(112,128,160,1) 0%, rgba(64,112,152,1) 50%, rgba(112,128,160,1) 100%);

    .top {
        display: flex;
        height: 50px;
        border: 2px solid #505050;
        background-color: #5067E8;

        .block1 {
            height: 47px;
            width: 70%;
            border-right: 2px solid #505050;
            border-bottom: 3px solid #A8B8F0;
        }

        .block2 {
            border-left: 3px solid #A8B8F0;
            border-bottom: 3px solid #A8B8F0;
            width: 30%;
            background-color: #7890E0;
        }
    }

    .pokedex {
        display: inline-flex;

        .sprite {
            width: 500px;
        }

        .pokemons-wrapper {
            display: flex;
            flex-flow: column;
            gap: 5px;
            height: 500px;
            border-left: 50px;
            overflow-x: hidden;
            overflow-y: scroll;

            .pokemon {
                display: inline-flex;
                flex-wrap: wrap;
                gap: 10px;
                justify-items: center;
                align-items: center;

                .name-container {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-weight: 700;
                    background-color: #F8F8C0;
                    padding: 5px;
                    width: 130px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    
                    img {
                        height: 20px;
                    }
                }
            }
        }
    }

    .bot {
        height: 50px;
        display: flex;
        border: 2px solid #505050;
        background-color: #5067E8;

        .block1 {
            height: 47px;
            width: 70%;
            border-right: 2px solid #505050;
            border-top: 3px solid #A8B8F0;
        }

        .block2 {
            border-left: 3px solid #A8B8F0;
            border-top: 3px solid #A8B8F0;
            width: 30%;
            background-color: #7890E0;
        }
    }
}