.container {
    background: rgb(112, 128, 160);
    background: linear-gradient(0deg, rgba(112, 128, 160, 1) 0%, rgba(64, 112, 152, 1) 50%, rgba(112, 128, 160, 1) 100%);
    font-family: 'Courier New', Courier, monospace;

    .top {
        display: flex;
        height: 50px;
        border: 2px solid #505050;
        background-color: #5067E8;

        .block1 {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 47px;
            width: 70%;
            border-right: 2px solid #505050;
            border-bottom: 3px solid #A8B8F0;

            .pokedex-selector {
                display: inline-flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                padding: 5px;
                border: 2px solid #505050;
                border-radius: 15px;
                background-color: #77CCF6;
                color: #F0F0F8;
                font-size: 20px;
                font-weight: 600;
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: black;

                select {
                    border: none;
                    background-color: #77CCF6;
                    color: #F0F0F8;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        .block2 {
            border-left: 3px solid #A8B8F0;
            border-bottom: 3px solid #A8B8F0;
            width: 30%;
            background-color: #7890E0;
        }
    }

    .pokedex {
        display: inline-flex;

        .sprite-wrapper {
            margin: 20px;
            height: 400px;
            width: 400px;
            border: 5px solid;
            border-radius: 15px;
            background: repeating-linear-gradient(
                    #F8F8F8,
                    #F8F8F8 10px,
                    #F0F0F8 10px,
                    #F0F0F8 20px);
            text-align: center;

            .sprite {
                width: 90%;
            }
        }

        .pokemons-wrapper {
            display: flex;
            flex-flow: column;
            gap: 5px;
            height: 500px;
            border-left: 50px;
            overflow-x: hidden;
            overflow-y: scroll;

            .pokemon {
                display: inline-flex;
                flex-wrap: wrap;
                gap: 10px;
                justify-items: center;
                align-items: center;

                .name-container {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-weight: 700;
                    background-color: #F8F8C0;
                    padding: 5px;
                    width: 130px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;

                    img {
                        height: 20px;
                    }
                }
            }
        }
    }

    .bot {
        height: 50px;
        display: flex;
        border: 2px solid #505050;
        background-color: #5067E8;

        .block1 {
            height: 47px;
            width: 70%;
            border-right: 2px solid #505050;
            border-top: 3px solid #A8B8F0;
        }

        .block2 {
            border-left: 3px solid #A8B8F0;
            border-top: 3px solid #A8B8F0;
            width: 30%;
            background-color: #7890E0;
        }
    }
}